/*Animated logo
Source : https://www.w3schools.com/css/css3_animations.asp */

#animated_logo {
    width: auto;
    background: #ffffff;
    position: fixed;
    z-index: 1;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    top: 20px;
    left: 150px;
    animation: animated_logo 5s 1;
    -moz-animation: animated_logo 5s 1;
    -webkit-animation: animated_logo 5s 1;
    -o-animation: animated_logo 5s 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

@keyframes animated_logo {
    0% {
        transform: rotate(0deg);
        left: 150px;
    }
    25% {
        transform: rotate(20deg);
        left: 150px;
    }
    50% {
        transform: rotate(0deg);
        left: 45%;
    }
    55% {
        transform: rotate(0deg);
        left: 45%;
    }
    70% {
        transform: rotate(0deg);
        left: 45%;
        background: #572C5F;
    }
    100% {
        transform: rotate(-360deg);
        left: 150px;
    }
}

@-webkit-keyframes animated_logo {
    0% {
        -webkit-transform: rotate(0deg);
        left: 150px;
    }
    25% {
        -webkit-transform: rotate(20deg);
        left: 150px;
    }
    50% {
        -webkit-transform: rotate(0deg);
        left: 45%;
    }
    55% {
        -webkit-transform: rotate(0deg);
        left: 45%;
    }
    70% {
        -webkit-transform: rotate(0deg);
        left: 45%;
        background: #572C5F;
    }
    100% {
        -webkit-transform: rotate(-360deg);
        left: 150px;
    }
}

@-moz-keyframes animated_logo {
    0% {
        -moz-transform: rotate(0deg);
        left: 150px;
    }
    25% {
        -moz-transform: rotate(20deg);
        left: 150px;
    }
    50% {
        -moz-transform: rotate(0deg);
        left: 45%;
    }
    55% {
        -moz-transform: rotate(0deg);
        left: 45%;
    }
    70% {
        -moz-transform: rotate(0deg);
        left: 45%;
        background: #572C5F;
    }
    100% {
        -moz-transform: rotate(-360deg);
        left: 150px;
    }
}

@-o-keyframes animated_logo {
    0% {
        transform: rotate(0deg);
        left: 150px;
    }
    25% {
        transform: rotate(20deg);
        left: 150px;
    }
    50% {
        transform: rotate(0deg);
        left: 45%;
    }
    55% {
        transform: rotate(0deg);
        left: 45%;
    }
    70% {
        transform: rotate(0deg);
        left: 45%;
        background: #572C5F;
    }
    100% {
        transform: rotate(-360deg);
        left: 150px;
    }
}


/*Typing animation 
Source : https://codepen.io/Bjornros/pen/oNWBBEw?editors=1100 */

:root {
    --number-of-characters: 21;
}

.anim {
    font-family: 'Roboto mono', monospace;
    font-size: 0.75rem;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin-top: -30px;
    color: #572C5F;
}

.typing {
    padding-left: 3px;
    -webkit-clip-path: inset(0 calc(100% - 3px) 0 0);
    clip-path: inset(0 calc(100% - 3px) 0 0);
    background: -o-linear-gradient(black 0 0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, black));
    background: linear-gradient(black 0 0);
    background-size: 3px 100%;
    background-position: left;
    background-repeat: no-repeat;
    -webkit-animation: blink 1.2s infinite, type-it 6s steps(var(--number-of-characters)) forwards, move-cursor 6s steps(var(--number-of-characters)) forwards;
    animation: blink 1.2s infinite, type-it 6s steps(var(--number-of-characters)) forwards, move-cursor 6s steps(var(--number-of-characters)) forwards;
}

.anim-end {
    -webkit-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
    -webkit-clip-path: inset(0 -1ch 0 0);
    clip-path: inset(0 -1ch 0 0);
    background-position: right;
}

.anim-restart {
    -webkit-clip-path: inset(0 calc(100% - 3px) 0 0);
    clip-path: inset(0 calc(100% - 3px) 0 0);
    background-position: left;
    -webkit-animation: blink 1.2s infinite, type-it 6s steps(var(--number-of-characters)) forwards, move-cursor 6s steps(var(--number-of-characters)) forwards;
    animation: blink 1.2s infinite, type-it 6s steps(var(--number-of-characters)) forwards, move-cursor 6s steps(var(--number-of-characters)) forwards;
}

@-webkit-keyframes type-it {
    0% {
        -webkit-clip-path: inset(0 calc(100% - 3px) 0 0);
        clip-path: inset(0 calc(100% - 3px) 0 0)
    }
    30% {
        -webkit-clip-path: inset(0 calc(100% - 3px) 0 0);
        clip-path: inset(0 calc(100% - 3px) 0 0)
    }
    100% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0)
    }
}

@keyframes type-it {
    0% {
        -webkit-clip-path: inset(0 calc(100% - 3px) 0 0);
        clip-path: inset(0 calc(100% - 3px) 0 0)
    }
    30% {
        -webkit-clip-path: inset(0 calc(100% - 3px) 0 0);
        clip-path: inset(0 calc(100% - 3px) 0 0)
    }
    100% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0)
    }
}

@-webkit-keyframes blink {
    0% {
        background-size: 0 100%
    }
    50% {
        background-size: 0 100%
    }
    50.1% {
        background-size: 3px 100%
    }
}

@keyframes blink {
    0% {
        background-size: 0 100%
    }
    50% {
        background-size: 0 100%
    }
    50.1% {
        background-size: 3px 100%
    }
}

@-webkit-keyframes move-cursor {
    0% {
        background-position: left
    }
    30% {
        background-position: left
    }
    100% {
        background-position: right
    }
}

@keyframes move-cursor {
    0% {
        background-position: left
    }
    30% {
        background-position: left
    }
    100% {
        background-position: right
    }
}

@media (max-width: 500px) {
    .typing {
        font-size: 20px;
    }
}


/*Animated progress bar 
Source : https://latutotheque.fr/gdarros/tutoriels/informatique/comment-animer-une-progress-bar-en-css */

.progress {
    height: 20px;
    overflow: hidden;
    background-color: #F5F5F5;
}

.progress-bar {
    width: 100%;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    background-color: #572C5F;
}

.progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}


/*Timeline 
Source : https://codepen.io/jessyca27/pen/vGoBex */

#timeline1 ol {
    position: relative;
    display: block;
    margin: 100px;
    height: 4px;
    background: #572C5F;
}

#timeline1 ol::before,
#timeline1 ol::after {
    content: "";
    position: absolute;
    top: -8px;
    display: block;
    width: 0;
    height: 0;
    border-radius: 10px;
    border: 10px solid #572C5F;
}

#timeline1 ol::before {
    left: -5px;
}

#timeline1 ol::after {
    right: -10px;
    border: 10px solid transparent;
    border-right: 0;
    border-left: 20px solid #572C5F;
    border-radius: 3px;
}


/* ---- Timeline elements ---- */

#timeline1 li {
    position: relative;
    display: inline-block;
    float: left;
    width: 150px;
    font: bold 14px arial;
    height: 50px;
}

#timeline1 li .diplome {
    position: absolute;
    top: -77px;
    left: 36%;
    color: #000000;
}

#timeline1 li .point {
    content: "";
    top: -4px;
    left: 43%;
    display: block;
    width: 6px;
    height: 6px;
    border: 4px solid #572C5F;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    position: absolute;
}

#timeline1 li .timeDescription {
    display: none;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    font-weight: normal;
    z-index: 1;
}

#timeline1 .timeDescription::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f4f4f4;
    position: absolute;
    top: -5px;
    left: 43%;
}


/* ---- Hover effects ---- */

#timeline1 li:hover {
    cursor: pointer;
    color: #735e77;
}

#timeline1 li:hover .timeDescription {
    display: block;
}


/*Timeline2
Source : https://codepen.io/blackellis/pen/bGVoXBr */

.timeline2 {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    color: #572C5F;
}

.rightbox {
    padding: 0em 34rem 0em 0em;
    height: 100%;
}

.rb-container {
    font-family: "PT Sans", sans-serif;
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
}

.rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 15%;
    min-height: 50px;
    border-left: 1px dashed rgb(0, 0, 0);
    padding: 0 0 50px 30px;
    position: relative;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid #572C5F;
    border-radius: 500%;
    background: #ffffff;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    border-color: #ffffff;
    background-color: #572C5F;
    transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
    color: #572C5F;
    position: relative;
    width: 500px;
    font-size: 12px;
}

.item-title {
    color: rgb(0, 0, 0);
}


/*3D image slider
Source : https://lzomedia.com/blog/3d-image-slider-using-html-css/ */

#slider {
    position: relative;
    width: 45%;
    height: 25%;
    height: 22vw;
    margin: 50px auto;
    margin-bottom: 100px;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

input[type=radio] {
    position: relative;
    top: 120%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-70px);
    cursor: pointer;
}

input[type=radio]:nth-child(5) {
    margin-right: 0px;
}

input[type=radio]:checked {
    opacity: 1;
}

#slider label,
#slider label img {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}

#text {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    color: #572C5F;
    margin-bottom: 0px;
}


/* Slider Functionality */


/* Active Slide */

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}


/* Next Slide */

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(20%, 0, -100px);
}


/* Next to Next Slide */

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(40%, 0, -250px);
}


/* Previous to Previous Slide */

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-40%, 0, -250px);
}


/* Previous Slide */

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-20%, 0, -100px);
}