body {
    margin: 0;
    background-color: #EBE7EB;
    background-image: url(../Photos/backgroundCloudy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* Menu */

.menu {
    overflow: hidden;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: "Papyrus", Garamond, "Monaco", Arial;
    font-weight: bold;
}

.menu a {
    color: #572C5F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.menu a:hover {
    background: #EBE7EB;
    color: black;
}

.menu li {
    display: inline;
}

.menu ul {
    list-style: none;
    display: inline-block;
}

#logo:hover {
    background: rgb(255, 255, 255);
}

.name {
    background-color: #ffffff;
    border-radius: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: -20px;
}

#photoCV {
    width: 40%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

footer {
    background: #ffffff;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    text-align: center;
}

#linkedinButton {
    bottom: 55px;
}

#CvButton {
    bottom: 10px;
}

#linkedinButton,
#CvButton {
    right: 2%;
    position: fixed;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 1px;
    border-radius: 50%;
    margin-bottom: 0;
    font-size: 12px;
    text-shadow: 0 0 5px #ffffff;
    background-color: none;
}

#linkedinButton:hover,
#CvButton:hover {
    /* Add a dark-grey background on hover */
    background-color: #572C5F;
    border: 2px inset rgb(156, 151, 151);
}

#home {
    padding-top: 8%;
}

#about,
#qkills,
#experience,
#hobbies,
#contact {
    padding-top: 3%;
}

.card {
    /* Add a card effect for categories */
    padding: 5%;
    margin-top: 0px;
}


/* Horizontal scrollable menu with different movies */

.info {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin-left: 0px;
}

.info,
.slide {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}

.purpleTitle {
    background-color: #572C5F !important;
    color: white;
    font-family: "Papyrus", Georgia, Arial, serif;
    text-align: left;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: -15px;
}

aside {
    width: 12%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

.container {
    display: flex;
    background-color: #EBE7EB;
}

.container2 {
    display: flex;
}

.categorie {
    border: 2px dotted #572C5F;
}

.col1 {
    width: 20%;
    margin: 2% 3% 1% 1%;
}

.col2 {
    width: 25%;
    margin: 2% 0% 1% 5%;
}

.col3 {
    width: 40%;
    margin: 2% 1% 1% 2%;
}

.col4 {
    width: 20%;
    margin: 2% 1% 1% 2%;
}

.col5 {
    width: 30%;
    margin: 2% 1% 1% 2%;
}

.col1,
.col2,
.col3,
.col4,
.col5 {
    text-align: justify;
}


/* Create 2 equal columns that floats next to each other */

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column2 {
    float: left;
    width: 70%;
    padding: 10px;
}

.column3 {
    float: left;
    width: 30%;
    padding: 10px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Bar */

.barSkills {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    margin-bottom: 7px;
}

.barFr {
    width: 100%;
    background-color: #2196F3;
}

.barEn {
    width: 80%;
    background-color: #f44336;
}

.barSp {
    width: 65%;
    background-color: #f4a236;
}


/* Contact form
Source : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_section */


/* Style inputs */

input[type=text],
input[type=email],
textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #572C5F;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
    background-color: #572C5F;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 50%;
}

input[type=submit]:hover {
    background-color: #8a5d92;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}