/* Style */

.style {
    font-family: Garamond, "Monaco", Arial;
    text-align: center;
    color: #572C5F;
}


/* Cursor */

.cursor {
    cursor: url("../Photos/cursor.png"), auto;
}


/* Center */

.center {
    text-align: center;
}


/* Italic */

.italic {
    font-style: italic;
}


/* Bold */

.bold {
    font-weight: bold;
}


/* Underline */

.underline {
    text-decoration: underline;
}


/* Size */

.large {
    font-size: x-large;
}

.smallSize {
    font-size: 35px;
}

.mediumSize {
    font-size: 45px;
}

.bigSize {
    font-size: 50px;
}


/* Neon color */

.white {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #464444, 0 0 40px #ffffff, 0 0 80px #ffffff, 0 0 90px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff;
}